---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <main class="container">
        <h1>Register</h1>
        <section class="input-area">
            <label>Username:
                <input id="username" type="text" name="username" placeholder="Enter username" required>
            </label>
            
            <label>Password:
                <input id="password" type="password" name="password" placeholder="Enter password" required>
            </label>

            <label>First Name:
                <input id="firstname" type="text" name="firstname" placeholder="Enter first name" required>
            </label>

            <label>Last Name:
                <input id="lastname" type="text" name="lastname" placeholder="Enter last name" required>
            </label>

            <div class="button-area">
                <button id="sign-up-btn" type="button">Sign Up</button>
            </div>
        </section>
    </main>
</Layout>
<script>
    window.onload = () => {
        const usernameInput = document.getElementById('username') as HTMLInputElement
        const passwordInput = document.getElementById('password') as HTMLInputElement
        const firstnameInput = document.getElementById('firstname') as HTMLInputElement
        const lastnameInput = document.getElementById('lastname') as HTMLInputElement

        const signUpBtn = document.getElementById('sign-up-btn') as HTMLButtonElement
        signUpBtn.addEventListener('click', async () => {
            const response = await fetch('http://localhost:3000/users/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: usernameInput.value,
                    password: passwordInput.value,
                    firstname: firstnameInput.value,
                    lastname: lastnameInput.value
                }),
                credentials: 'include'
            })

            if (! response.ok) {
                alert('Register Fail!!')
                
                return;
            }

            window.location.href = '/login'
        })
    }
    
</script>
<style lang="scss">
.container {
    padding: 2rem;

    h1 {
        font-size: 5rem;
        font-weight: 800;
        text-align: center;
    }

    .input-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .button-area {
            display: flex;
            gap: 2rem;

            button {
                margin-top: 0.5rem;
                padding: 0.5rem 1rem;
            }
        }
    }
}
</style>